<!DOCTYPE html>
<html>

<head>
<title>Signup Form</title>

<link rel="stylesheet" href="Style.css" />

<style>
p {
	background-color: pink;
	font-size:35px;
	color:black;
	text-align:center;
}

</style>
</head>

<body>

<h1 style="font-weight:bold;font-size:100 px">Signup Form</h1>

<label for="user name">user name</label>
<input type="text" id="user name" name="user name"><br><br>

<label for="password">password</label>
<input type="text" id="password" name="password"><br><br>

<label for="mobile number">mobile number</label>
<input type="number" id="mobile number" name="mobile number"><br><br>


<input type="submit" value="submit">

<input type="reset" value="reset">

</body>


</html>